* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.para {
    font-size: 12px;
}
.rightBox {
    padding: 0 !important;
}
.col {
    margin: 0 !important;
}
.row {
    margin: 0 !important;
}
